/* line 4, ../sass/widgets.scss */
.widget_subpages ul {
  list-style-type: none;
}

/* line 10, ../sass/widgets.scss */
.orbit-wrapper .orbit-caption {
  text-align: left;
  padding-left: 4.5%;
  padding-right: 4.5%;
}
/* line 15, ../sass/widgets.scss */
.orbit-wrapper .orbit-caption h3 a {
  color: #99cc00;
}
/* line 21, ../sass/widgets.scss */
.orbit-wrapper #featured img {
  margin-bottom: 0px;
}
